{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
